{% extends 'myapp/main.html' %}
{% block title %}
  <title>{{ karel.first_name }} {{ user.last_name }}</title>
{% endblock %}
{% block content %}
  {% comment %} <h1>{{ user.first_name }} {{ user.last_name }}</h1>
  <h1>{{ user.personid }}</h1>
  <h1>{{ user.uuid }}</h1>
  <a href="{% url 'user_delete' user.id %}">Delete Object</a>
  <a href="{% url 'user_update' user.id %}">Update Data</a> {% endcomment %}

  <div id="register-container">
    <div id="register-header">
      <h1>Change user information</h1>
    </div>
    {% comment %} <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Update</button>
    </form> {% endcomment %}

    <form id="register-form" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <table id="register-table">
        <tbody>
          <tr>
            <td>
              <label for="id_new_password1">New password:</label>
            </td>
            <td>
              <input type="password" name="new_password1" />
            </td>
            <td>
              <p class="helptext">{{ form.new_password1.help_text }}</p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="id_new_password2">Confirm New Password:</label>
            </td>
            <td>
              <input type="password" name="new_password2" />
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <div id="register-footer">
        <div class="errorlist">
          {% if form.username.errors or form.password1.errors or form.password2.errors %}
            <ul>
              {% for error in form.username.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              {% for error in form.password1.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div>
          <label for="id_old_password">Confirm with old password:</label>
          <input type="password" name="old_password" />
        </div>

        <button id="register-button" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
