{% block content %}
  {% load static %}
  <button id="login-auth-button">Login</button>
  <div id="login-pop-up-form">
    <form id="login-form" action="{% url 'login' %}" method="post">
      <h1>Login</h1>
      {% csrf_token %}
      <label for="username">Username:</label>
      <div class="form-group">
        <input type="text" id="username" name="username" />
      </div>
      <label for="password">Password:</label>
      <div class="form-group">
        <input type="password" id="password" name="password" />
      </div>
      <button id="auth-submit" type="submit">Login</button>
    </form>
    <div id="error-message"></div>
    {% for message in messages %}
      <p class="text-center">{{ message }}</p>
    {% endfor %}
    <h4>Dont have an account?</h4>
    <a id="signup-redirect" href="{% url 'register' %}">Sign up</a>
  </div>

  <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
